<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Paw Pals - Pet Groomer - Address: 6938 N Oak Trafficway, Gladstone, MO 64118, Phone: (816) 734-2100" />
    <meta name="keywords" content="PawPals,Pet,Grooming,North,Oak,Trafficway,Gladstone,Barbera,Yerington,Care,Paw,Professional,KC" />
    <title>Paw Pals Pet Grooming - Gladstone</title>

    <base href="~/" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=BenchNine:700" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="http://www.pawpalspetgrooming.com/favicon.ico" />
    <link rel="shortcut icon" href="http://www.pawpalspetgrooming.com/favicon.ico" />
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
