<stretch-media vidSrc="" vidFallback="img/cockapoo_about_draft.jpg" imgSrc="img/cockapoo_about_draft.jpg">
  <div class="media-text text-center">
    <div id="summary-container" class="col-xs-12 col-md-5">
      <br />
      <span class="heading"> Who are we? </span>
      <br /><br />
      <p class="fg white">
        Owned and operated by Barbara Yerington, 
        our company provides professional and loving care to your pet. 
        We are a certified groomer with extensive knowledge about the business. 
        Barbara has been serving kansas city since 2000 and grooming pets since 1996.

      </p>
    </div>
    <br /><br /><br />
  </div>
</stretch-media>

<div style="padding-top:220px;" class="col-md-8 col-md-offset-2">

  <icon-section faClasses="fa fa-paw fa-3x" heading="Footprint">
    <p class="fg crimson">
      Paw Pals Pet Grooming has been serving our pals in the Kansas City area since 2000.
      <br /> With our speed of service, competitive pricing and convenient location on North Oak Trafficway, why would you
      choose anyone else?
    </p>
    <br />
  </icon-section>
  <icon-section faClasses="fa fa-clock-o fa-3x" heading="Hours">
    <p class="fg crimson">
      <b>Monday - Saturday </b> <br /> 
        we begin taking appointments @ 7:00  <br />
        Walk - ins are welcome! All breeds.<br />
        <br />
        <b>Sundays</b> <br /> Appointments only.
    </p>
  </icon-section>

</div>