<!--Layout-->
<nav-menu></nav-menu>
<div class='container'>
  <div id="view-content">
    <router-outlet></router-outlet>
  </div>
  <div style="padding:28px;" class="col-xs-12">
    <hr />
  </div>
  <div style="padding-bottom:20px;" class="col-xs-12 text-center">
    <span class="fg dark-blue"> &copy; Paw Pals Pet Grooming 2017 - 
      <a href="mailto:pawpalswebmaster@gmail.com" class="fg magenta"> Contact Webmaster </a> - Powered by <a target="_blank" href="https://www.burtson.com" class="fg magenta">Burtson</a> 
      </span>
  </div>
</div>
