<stretch-media vidSrc="" vidFallback="img/dog_cheesing.jpg" imgSrc="img/dog_cheesing_mobile.jpg">
    <div class="media-text text-center">
        <span class="heading">Cheese</span> <br /><br />
        <span style="font-size:22px;" class="heading">
            We hope you enjoy these photos of our pals wed love to see your pals.
        </span> <br /> <br />
        <span style="font-size:22px;" class="heading">
            Share <b>your</b> pal photos when you come in or on.
        </span> <br /> <br /><br /><br />
        <div id="input-container">
            <a class="btn bg tan media-button" target="_blank" href="https://www.facebook.com/Paw-Pals-Pet-Grooming-723850094492110">
                <span class="fg crimson">
                    <i class="fa fa-facebook-square"></i>acebook
                </span>
            </a>
        </div>
    </div>
</stretch-media>
<div style="padding-top:10px" class="col-md-8 col-md-offset-2">
    <div class="row">
    </div>
    <div id="slide-container">
        <icon-section content="responsive-content" faClasses="fa fa-camera-retro fa-3x" heading="Pictures!">
            <photo-viewer></photo-viewer>
        </icon-section>
    </div>
</div>
