<stretch-media vidSrc="" vidFallback="img/molly_service_dog.jpg" imgSrc="img/service_dog_2.jpg">
  <div class="media-text text-center"> <br /> <br />
    <span class="heading"> At your service. Gladstone </span>
  </div>
</stretch-media>
<br /><br /><br /><br /><br /><br />
<div class="col-md-8 col-md-offset-2">
  <icon-section faClasses="fa fa-handshake-o fa-3x" heading="Service">
    <p class="fg crimson">
      Most grooming is completed within 2-3 hours by appointment, but walk-ins are always welcome. 
      Pals will always be groomed with tender <span class="fg magenta">love  & care</span>, 
      in a smoke free environment - no swats or shots. Our prices are flexible. 
      We present prices that adhere to your pals specific needs. <br /> 
      Please call us at <a href="tel:8167342100" class="fg baby-blue"> (816) 734-2100 </a> for pricing.
    </p>
  </icon-section>
  <icon-section faClasses="fa fa-bath fa-3x" heading="Bath&Brush">
    <p class="fg crimson">
      Our bath and brush service is a great choice in any case it includes: 
      Shave pads, sanitary trim, face trim, feet and toenails.
      We also give all pals a body massage with no impact on prices. We love what we do!
    </p>
  </icon-section>
  <icon-section faClasses="fa fa-star fa-3x" heading="Full Groom">
    <p class="fg crimson">
      Everything the bath and brushes services has to offer plus complete body trim. 
      Of course - a complementary body massage.
    </p>
  </icon-section>
  <icon-section faClasses="fa fa-bug fa-3x" heading="Shoo Flea">
    <p class="fg crimson">
      We offer flea baths to keep your pal happy. 
      No more skin allergies, sores from scratching, chewing, or hair loss.
    </p>
  </icon-section>
  <icon-section faClasses="fa fa-paw fa-3x" heading="Dog Sitting">
    <p class="fg crimson">
      We will gladly pet-sit your dog (under 30 lbs). 
      Please, <a href="tel:8167342100">Call</a> us if you would like more information.
    </p>
  </icon-section>
</div>
