<stretch-media vidSrc="vid/puppy-silly.mp4" vidFallback="img/sleeping_duo_large.jpeg" imgSrc="img/sleeping_pup_mobile.jpg">
    <div class="media-text text-center">
        <span class="heading"> Grooming your pals </span>
        <span class="heading bold"> since 2000 </span><br /><br /><br />
        <div id="input-container">
            <a class="btn bg tan media-button" href="https://www.google.com/maps/place/Paw+Pals+Pet+Grooming/@39.2210948,-94.5790895,17z/data=!3m1!4b1!4m5!3m4!1s0x87c059e9aac83a41:0xe88fca89fc2a4abc!8m2!3d39.2210907!4d-94.5769008?hl=en-US">
                <span class="fg crimson">
                    <i class="fa fa-map-marker"></i> Navigate
                </span>
            </a>
            <a href="tel:8167342100" class="btn bg tan media-button">
                <span class="fg crimson">
                    <i class="fa fa-phone"></i> Call &nbsp;&nbsp; us
                </span>
            </a>
        </div>
    </div>
</stretch-media>
<div class="col-md-8 col-md-offset-2">
    <icon-section faClasses="fa fa-heart fa-3x" heading="Welcome">
        <p class="fg crimson">
            From Bath & Brushes to Full Groom, Flea Baths to Dog Sitting,
            we offer a variety of services to keep your <span class="fg magenta"> pal </span>      healthy and looking thier best.
            All breeds of dogs are welcome!
        </p> <br />
    </icon-section>
    <icon-section faClasses="fa fa-trophy fa-3x" heading="Service">
        <p class="fg crimson">
            <span class="fg magenta"> Pals </span> will always be groomed with <span class="fg magenta">TLC</span> in a smoke free
            environment - no swats or shots.
            We have complete line of services, with prices that are tailored for your pals needs.
        </p> <br />
        <a routerLink="/product" class="btn media-button-sm bg baby-blue">
            <span class="fg light-crimson"> Learn More </span>
        </a>
    </icon-section>
    <icon-section faClasses="fa fa-paw fa-3x" heading="Pals">
        <p class="fg crimson">
            <a target="_blank" href="https://www.facebook.com/Paw-Pals-Pet-Grooming-723850094492110"><i class="fa fa-facebook-square"></i> Share</a>
            your photos, meet our pals.
        </p> <br />
        <img src="/img/molly_conner.jpg" class="img-thumbnail img-responsive" /> <br /><br />
        <button routerLink="/gallery" class="btn media-button-sm bg baby-blue">
            <span class="fg light-crimson"> View Pictures </span>
        </button>
    </icon-section>
    <icon-section faClasses="fa fa-map fa-3x" heading="Location">
        <p class="fg crimson">
            We are located at 6938 N Oak Trafficway, Gladstone, MO 64118 Our phone number is (816) 734-2100.
        </p> <br />
        <a href="https://www.google.com/maps/place/Paw+Pals+Pet+Grooming/@39.2210948,-94.5790895,17z/data=!3m1!4b1!4m5!3m4!1s0x87c059e9aac83a41:0xe88fca89fc2a4abc!8m2!3d39.2210907!4d-94.5769008?hl=en-US"
           class="btn media-button-sm bg baby-blue">
            <span class="fg light-crimson"> Find Us </span>
        </a>
    </icon-section>
    <icon-section faClasses="fa fa-users fa-3x" heading="Who">
        <p class="fg crimson">
            Owned and operated by Barbara Yerington, our company provides professional and
            <span class="fg magenta"> loving </span> care to your pet. We are a certified groomer with extensive knowledge about the business.
        </p> <br />
        <a routerLink="/about" class="btn media-button-sm bg baby-blue">
            <span class="fg light-crimson"> Learn More </span>
        </a>
    </icon-section>
</div>
